.app-light-theme {
  --color-main: #FAF6F1;
  --color-secondary: #C4694A;
  --color-accent: #C9A24D;
  --color-error: #B83232;
  --color-accent-secondary: #FFFFFF;
  --color-progress: #FFD700;
  --color-disabled: #e9e9e9;

  --color-text: #2E2A27;
  --color-text-inverted: #FAF6F1;
}
